body {
    font-family: 'Roboto Mono', sans-serif !important;
    /*background-color: #FAF9F6;*/

    background-image: url(images/bg.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.divider {
    width: 100%;
    height: 2px; /* Adjust thickness */
    background-color: #000; /* Adjust color */
    margin: 20px 0; /* Adjust spacing */
}

.hover-darken:hover {
    filter: brightness(70%); /* Adjust the value to control darkness */
    transition: filter 0.3s ease-in-out;    
}

.hover-scale:hover {
    transform: scale(1.1); /* Adjust the value to control scale */
    transition: transform 0.3s ease-in-out;
}

#pfp {
    width: 40%;
    height: auto;
    border-radius: 50%;
    object-fit: cover;
}

.embed-responsive-16by9 {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 aspect ratio */
    height: 0;
    overflow: hidden;
    max-width: 100%;
    background: #000;
}

.embed-responsive-16by9 iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

