body {
    font-family: 'Roboto Mono', sans-serif !important;
    background-color: #FAF9F6;
}

.divider {
    width: 100%;
    height: 2px; /* Adjust thickness */
    background-color: #000; /* Adjust color */
    margin: 20px 0; /* Adjust spacing */
}

.hover-darken:hover {
    filter: brightness(70%); /* Adjust the value to control darkness */
    transition: filter 0.3s ease-in-out;    
}

.hover-scale:hover {
    transform: scale(1.1); /* Adjust the value to control scale */
    transition: transform 0.3s ease-in-out;
}
